.header {
  display: block;
  margin: 0 auto;
  width: 75vw;
  font-size: 1.5em;
  background-image: url('/images/crowd.jpg');
  background-size: cover;
  height: 150px;
  text-align: center;
}
.movieHeader, .movieBody{
  color: white;
  text-align: center;
  font-size: 30px;
}
.movieBody{
  width: 75vw;
}
.movieImage {
  text-align: center;
}
body {
  background-image: url('http://www.wallpaperup.com/uploads/wallpapers/2015/12/12/858715/big_thumb_38ab8700ce1051a9b2311504d06f8289.jpg');
  background-size: contain;
  background-position: center;
  font-family: 'Fjalla One', sans-serif;
}
.btn-info {
  margin: 10px 0;
  font-size: 30px;
}
.main {
  width: 75vw;
  display: block;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
}
p {
  border: 2px solid white;
}
.rating {
  border-top: 2px solid white;
  margin-top: 5px;
  color: red;
}
