h1 {
  margin-top: 5px;
  text-align: center;
  border: 3px solid black;
}
.header {
  background-image: url(/images/crowd.jpg);
  background-size: contain;
  height: 150px;
}
.container {
  color: white;
}
#submitBtn {
    background: white;
}
h3, h5 {
  margin-top: 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);;
}
img {
  max-width: 250px;
}
body {
  background-image: url(/images/filmback.jpg);
  background-size: cover;
}
